<ion-view title="Animal" id="page3">
  <ion-content padding="true" class="has-header">
  
	<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
  
    <form id="animal-form1" class="list" ng-submit="submeter(animal)">
      <label class="item item-input" id="animal-input1">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="" ng-model="animal.nome">
      </label>
      <label class="item item-input" id="animal-input2">
        <span class="input-label">Sobrenome</span>
        <input type="text" placeholder="" ng-model="animal.sobrenome">
      </label>
	  <button id="animal-button1" class="button button-positive  button-block">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>