<ion-view title="Cliente" id="page3">

	<ion-content padding="true" class="has-header">
  
		<form class="list" ng-submit="submeter(cliente)">
			
			<input type="hidden" ng-model="cliente.id">
			
			<label class="item item-input">
				<span class="input-label">Nome:</span>
				<input type="text" ng-model="cliente.nome">
			</label>
			
			<label class="item item-input">
				<span class="input-label">CPF:</span>
				<input type="text" ng-model="cliente.cpf">
			</label>
			
			<label class="item item-input">
				<span class="input-label">Celular:</span>
				<input type="text" ng-model="cliente.celular">
			</label>

			<button class="button button-positive button-block">Salvar</button>

		</form>
		
	</ion-content>
	
</ion-view>