<ion-view cache-view="false" view-title="Lista de Pets">
  <ion-content>
    <ion-list show-reorder="reordering">
      <ion-item class="item-remove-animate item-icon-right" href="#/side-menu21/editUsuarios/{{user.id}}" ng-repeat="user in usuarios track by user.id">
		
		<i class="icon icon-left ion-{{user.gender}}"></i>
        <h2 class="ion-{{user.gender}}"> {{user.nome}}</h2>

		<a ng-click="removeUsuario(user.id)" class="button button-light icon ion-trash-b"></a>

        <ion-reorder-button class="ion-drag" on-reorder="move(user, $fromIndex, $toIndex)"></ion-reorder-button>
		
      </ion-item>
    </ion-list>
    <br><br><br>
  </ion-content>
  <div class="bar bar-footer bar-stable">
	  <div class="row">
	  	&nbsp;&nbsp;&nbsp;
		<a href="#/side-menu21/addAnimal" class="col button button-balanced ion-person-add"> Adicionar Pet</a>
  	</div>
  </div>
</ion-view>